* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-btn-bg: #d9ab78;
  --primary-btn-text: #201416;
  --sidebar-bg: #201416;
  --sidebar-text: #dad3cc;
  --sidebar-active-bg: rgba(255, 255, 255, 0.1);
  --doctor-card-bg: #ceb391;
  --doctor-card-text: #201416;
  --text-dark: #201416;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dad3cc;
  color: var(--text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}